.white {
  background-color: white;
  color:black;
}
.black {
  background-color: black;
  color:white;
  border-color:white;
}
header {
  border-bottom: 1px solid;
}
#mains {
  width:700px;
  margin:0 auto;
}
header h1 {
  margin-top: 24px;
  width:400px;
  font-size: 100px;
  float:left;
}
header img {

}
article {
  border-left: 1px solid;
  height:510px;
}
#articlep1 {
  float:left;
}
article button {
  float:right;
  margin-top:10px;
  margin-right: 20px;
}
article a {
  color:black;
}
#profile {
  float:left;
}
 #titleList {
   float:left;
 }
 #bContent {
   float:left;
 }
 #boardList {
   width:650px;
   float:left;
 }
 #bContent {
   width:750px;
   float:left;
 }
 .bContentp {
   border-bottom: 1px solid;
 }
 #writep {
   float:left;
 }
